@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.reviews {@include sert-rev;}
  .rev_head {@include head;}
  .port_label {@include port_label;}
    .rev_content_item img {width: 20vw;}
    .rev_content_item img:hover {cursor: pointer; border: 2px solid #dade1eff;}

  @media (max-width: 868px) {
    .reviews {width: 90%;}
      .rev_head {width: 15rem; font-size: 1rem; text-align: center;}
  }