.sandwich { 
  display: none;
}
  .b1 {
    width: 23px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
.sandwich:hover {outline: 1px solid #dade1eff;}
.sandwich:hover .b1{background-color: #dade1eff; cursor: pointer;}

@media (max-width: 910px) {
  .sandwich {display: block; position: absolute; right: 2%;}
}