@import './assets/styles/initialstyles.scss';
@import './assets/styles/variables.scss';

@font-face{
  font-family: Monts_B;
  src: url('./assets/fonts/Montserrat/Montserrat-Black.ttf');
}

@font-face{
  font-family: Monts_M;
  src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face{
  font-family: Rubik_B;
  src: url('./assets/fonts/Rubik/Rubik-Black.ttf');
}

@font-face{
  font-family: Rubik_R;
  src: url('./assets/fonts/Rubik/Rubik-Regular.ttf');
}
body {
  width: 100vw;
  background-color: #212121;
  color: #fff;
  font-family: Monts_B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* стиль применяется на итоговой странице — но только к содержимому тега <code>.*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
