.logo {
  width: 31.5rem;
  display: flex; 
  align-items: center;
}
  .logo img {max-width: 15%; margin-right: 7%;}
  .logo h1 {font-size: 1.3rem; text-transform: uppercase;}

@media (max-width: 1060px){.logo h1 {font-size: 1.1rem;}}

@media (max-width: 440px) {.logo h1 {font-size: 0.9rem;}}